* {
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
    color: #ffff;
  }
  .header {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(kaliurang1.jpeg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100px;
  }
  
  nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
  }
  
  .main {
    flex: 1;
    text-align: left;
  }
  
  .main ul li {
    float: right;
    list-style-type: none;
    margin-top: 30px;
    margin-right: 60px;
  }
  
  .main ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5s ease;
  }
  
  .main ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #98e4ff;
    display: block;
    margin: auto;
    transition: 0.3s;
  }
  
  .main ul li a:hover {
    background-color: #fff;
    color: #000;
  }
  
  .ul li.active a {
    background-color: #fff;
    color: #000;
  }
  
  .logo img {
    float: left;
    width: 150px;
    height: auto;
  }
  
  .main {
    max-width: 100%;
    margin: auto;
    float: inline-end;
  }
  
  .title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .title h1 {
    color: #fff;
    font-size: 85px;
  }
  
  .button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .btn {
    border: 1px solid #fff;
    padding: 5px 20px;
    color: #fff;
    transition: 0.6s ease;
    font-size: 18px;
    text-decoration: none;
  }
  
  .btn:hover {
    background-color: #fff;
    color: #000;
  }
  
  .sub-menu {
    display: none;
    top: 6%;
    position: relative;
  }
  
  .sub-menu ul {
    position: absolute;
  }
  
  .main ul li:hover .sub-menu {
    display: block;
    position: absolute;
    background-color: rgb(0, 45, 117);
    margin-top: 12px;
    margin-left: -8px;
  }
  
  .main ul li:hover .sub-menu ul {
    display: block;
    margin: 6px;
  }
  .main ul li:hover .sub-menu ul li {
    width: 75px;
    padding: 5px;
    border-bottom: 1px#fff;
    background: transparent;
    transition: 0.4s ease;
    text-align: left;
    border-radius: 0;
  }
  
  .main ul li:hover .sub-menu ul li:last-child {
    border-bottom: none;
  }
  .content{
    text-align: center;
    padding-top: 8%;
  }
  .content h1{
    font-size: 160px;
    color: #fff;
    font-weight: 500;
  }

.content a {
  text-decoration: none;
}

.content a:hover {
    background-color: #fff;
    color: #000;
    transition: 0.2s;
    padding: 10px 30px;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
  }
  .col{
    flex-basis: 70%;
  }
  h1{
    margin-left: 60px;
    color: #fff;
    font-size: 80px;
  }
  p{
    margin-left: 40px;
    color: #fff;
    font-size: 30px;
  }
.card{
  width: 290px;
  height: 180px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
background-image: url(gambar1.jpeg);
background-position: center;
background-size: cover;
transition: transform 0.5s;
}
.card1{
  background-image: url(gambar1.jpeg);
}
.card2{
  background-image: url(gambar2.jpeg);
}
.card3{
  background-image: url(gambar3.jpeg);
}
.card:hover{
  transform: translateY(-15px);
}
button{
  width: 190px;
  color: #000;
  font-size: 18px;
  padding: 12px 0;
  background: #fff;
  border: 0;
  border-radius: 24px;
  outline: none;
  margin-top: 35px;
  margin-left: 30px;
}